@import url('buttons.css');
@import url('animations.css');
@import url('winner-modal.css');
@import url('tries-counter.css');

body {
    background-color: #18181d;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 150px;
    font-family: "Bangers", system-ui;
    letter-spacing: 2px;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

.game {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Stages */
.stage {
    position: fixed;
    right: 0px;
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
}
.stage2 {
    position: fixed;
    left: 0px;
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
}

/* Balls */
.ball {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background: #444;
    will-change: transform;
    animation: orbit 3s linear infinite;
}
.ball2 {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    background: #ff3535;
    will-change: transform;
    animation: orbit 4s linear infinite;
}