.tries-counter {
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: "Bangers", system-ui;
    font-size: 150px;
    font-weight: 700;
    color: #fff;
    pointer-events: none;
    z-index: 10;
}